---
import Layout from '../layouts/Layout.astro';
import Hero from '../modules/landing/Hero.astro';
import Terminal from '../modules/landing/Terminal.astro';
import Philosophy from '../modules/landing/Philosophy.astro';
---

<Layout title="JingerLab | Interdisciplinary Research">
  <main>
    <Hero />
    <Philosophy />
    <Terminal />
    </main>
</Layout>
